
*{
    
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #390153;
    overflow-x:hidden ;
}
.navbar-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
label.logo{
    color: white;
    font-size: 2.5rem;
    font-family: 'RougeScript-Regular';
}

nav ul{
    float: right;
    

}
nav ul li{
    display: inline-block;
    line-height: 10%;
    margin: 0 50px;
    
   
}
nav ul li a{
    color: white;
    font-size: 2.5rem;
    font-family: 'RougeScript-Regular';
    margin-left: auto;
    text-decoration: none;
   
}
.active{
    text-decoration:underline;
}
@font-face{
    font-family: 'RougeScript-Regular';
    src: url(font/RougeScript-Regular.ttf);
}
.banner {
 width: 110%;
  position: relative;
  margin-bottom: 7rem;
  
}

.f{
    position: absolute;
    bottom: 10rem;
    font-family: 'RougeScript-Regular';
    font-size: 10rem;
    margin-left: 4rem;

}
.h{
    position: absolute;
    bottom: 3rem;
    font-family: 'RougeScript-Regular';
    font-size: 10rem;
    margin-left: 15rem;
}
.banner p{
    position: absolute;
    color: white;
    top:50%;
    right:0%;
    margin-left: 60%;
    margin-right: 10%;
    text-align: center;
    font-family: 'RougeScript-Regular';
    font-size: 2.5rem;
   
}


.title {
    position: absolute;
    font-family: 'RougeScript-Regular';
    font-size: 2rem;
     margin-top: 30rem;
}
.ttcc{
    text-align: center;
    color: white;
    font-family: 'RougeScript-Regular';
    font-size: 3rem;
}
.firstc{
    display: flex;
    width:30%;
    margin-top: 4rem;
    
  
}
.firstimage{
    border-radius: 10%;
    margin-left: 50%;
    margin-right: auto;

}

.firstc p{
    color:white;
   
    margin-top: 50%;
    margin-left: 40%;
    font-size: 2rem;
}
.secondc{
    display: flex;
    width:30%;
    margin-top: 5rem;
    margin-left: 4rem;

}

.secondimage{
    border-radius: 10%;
    margin-left: 70%;
    margin-right: auto;

}
.secondc p{
    color:white;
    margin-top: 50%;
    margin-left: 50%;
    font-size: 2rem;
}
.homereg{
    color: white;
    font-family: 'RougeScript-Regular';
    text-align: center;
    font-size: 4rem;
    margin-left: 20%;
    margin-right: 20%;
}
/* .F{
  
} */
/*catalogue*/
.catalogue{
   text-align: center;
    font-family: 'RougeScript-Regular';
    color: white;
    font-size: 3rem;
    margin-bottom: 5%;
}
.imgc1{
    width: 500px;
   
    border-radius: 10%;

}
.dsc1{
    color: white;
    margin-left:   10%;
    
}

.m{
    color: white;
    padding: 1.5rem;
}
/*.hh{
    color: white;
    width: 100%;
    display: flex;
   
    margin-bottom: 5%;
   
}*/

.cat{
    flex-wrap: wrap;
    display: flex;
    justify-content: center; 
}

.imgc2{
    width: 500px;
    border-radius: 10%;
    margin-right: 15%;
}
.botona{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
/*register*/
.register{
    margin: 2rem 0 0 15rem;
    border-radius: 33px 0 0 33px;
    padding: 3rem;
    background-color: #694C76;
    display:flex;
    width: 23rem;
}
.box{
    display:flex;
    text-align: center;
    width: 17rem;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 33px;
}
#address{
    padding-bottom: 1rem;
}
.reg{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: none;
}
.btt{
    align-items: center;
    color: white;
    border: 2px solid white;
    margin-left: 6rem;
    padding: .5rem 1rem;
    border-radius: 14px;
    text-decoration: none;
}
.imgreg{
    margin-top: 2rem;
    width: 23rem;
    border-radius: 0 33px 33px 0;
}
.both{
    display: flex;
}
.htxt{
    font-family: 'RougeScript-Regular';
    font-size: 3rem;
    color: white;
    margin-top: 10rem;
    text-align: center;
}
.help{
    color: white;
    margin-top: 10rem;
    text-align: center;
}

#text{
    background: none;
    width: 30rem;
    height: 10rem;
    font-size: 2rem;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 1rem;
    margin-top: 2rem;

}
.q{
    color: white;
    border-bottom: 3px solid white;
    margin-left: 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-top: 3rem;
}
.q a{
    color: white;
    text-decoration: none;
}
.faq .a {
    display: none;
    color : white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.rev1{
    display: flex;
    width: 1rem;
    color:white;
    font-size: 1rem;
    align-items: center;
   text-align: center;
   margin-left: 10rem;
    

}

/*Footer*/
footer{
    background-color:#592C6D;
    width: 100%;
    height: 40px;
    
    
   
}
.ft{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    
}
/*burger menu */
.toggle{
    position: absolute;
    top:.75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    width: 30px;
    height: 21px;
}

.bar{
    height:3px;
    width:100%;
    background-color: white;
    border-radius: 33px;
}
.navbar-conatiner-burger{
    display: none;
}

@media (max-width: 780px) {
   
    .imgreg{
        display:none;
        
    }
    .register{
        border-radius: 33px;
      margin-left: auto;
      margin-right: auto;
    }
    
   .imgc1{
    width: 300px;

   }
   .imgc2{
    width: 300px;
   }

   .botona{
    width:8rem;
   }
   .f{
    font-size: 4rem;
    bottom: 5rem;    
   }
   .h{
    font-size: 4rem;
    bottom: 2rem;  
    
   }
   .banner p{
    font-size: 2rem;
    
   }
   .firstc{
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
   margin-left: 5rem;
    
   }
   .firstc p{
    margin-top:2rem;
    font-size: 1.5rem;
    
   }
   .secondc{
    flex-wrap:  wrap-reverse;
    font-size: 2rem;
    align-items: center;
   margin-left: 5rem;
    
   }
   .secondc p{
    margin-top:2rem;
    font-size: 1.5rem;

    
   }
   .toggle{
    display: flex;
    z-index: 1;
   }


.navbar-conatiner{
    display: none;
}

 .navbar-conatiner-burger{
    display: block;
 }
 .navlink{
    padding: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 46px;
    right: 0;
    background-color:#592C6D;
    z-index: 1;
    transition: all 0.2s ease-in-out;

    
   
 }
.show{
   display: flex; 
}
nav ul li {
    line-height: 3rem;
   margin: 22px 50px;
   display: block;
}

.rev1{
   flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
   
}
  
}


   

